.classpath
.project

trade-advisor.iml

src/main/java/com/github/johnmedlockdev/main/data/storage/SPY.csv
src/main/java/com/github/johnmedlockdev/main/data/storage/APPL.csv

node_modules
.vscode/
package-lock.json
target/*
.idea/*
